name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant Gradle execute permission
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build --stacktrace --warning-mode all

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mod-builds
          path: |
            fabric/build/libs/*.jar
            forge/build/libs/*.jar
            common/build/libs/*.jar
